page-home {
  #map {
    width: 100%;
    height: 100%;
  }

  .scroll {
    height: 100%;
  }

  .popup {
    position: fixed;
    z-index: 999;
    width: 100%;
    bottom: 6vh;
  }

  .center {
    -webkit-justify-content: center;
    display: flex;
    justify-content: center;
  }

  .cardCustom {
    height: 220px;
    max-height: 220px;
    position: relative;
    top: relative;
    overflow-y: auto;
  }

  .fixed-content {
    left: 0px;
    right: -8px;
    top: 27px;
    bottom: 0;
    position: absolute;
    display: block;
  }

   .ion-toolbar {
   background: transparent;
   }

   .ion-grid {
   background: transparent;
   }
}
