<ion-header>

  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title> RsuSmart Train</ion-title>

    <ion-buttons end>
      <button ion-button (click)="addMarker()">
        <ion-icon name="add"></ion-icon>Add Marker</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div #map id="map"></div>



  <div class="popup center" *ngIf="tab1">
    <ion-card>
      <!-- <div style="text-align: right;margin: 5px; font-size: 2.5rem;position: fixed;right: 26px;z-index: 1;">
        <ion-icon name="close" item-end (click)="onClosePopup()"></ion-icon>
      </div> -->
      <ion-card-content class="cardCustom">
        <ion-card-title>
          Tab1
        </ion-card-title>
        <hr> abc
      </ion-card-content>
    </ion-card>
  </div>

  <div class="popup center" *ngIf="tab2">
    <ion-card>
      <!-- <div style="text-align: right;margin: 5px; font-size: 2.5rem;position: fixed;right: 26px;z-index: 1;">
        <ion-icon name="close" item-end (click)="onClosePopup()"></ion-icon>
      </div> -->
      <ion-card-content class="cardCustom">
        <ion-card-title>
          Tab2
        </ion-card-title>
        <hr> asdasdasdasd
      </ion-card-content>
    </ion-card>
  </div>


  <div class="popup center" *ngIf="tab3">
    <ion-card>
      <!-- <div style="text-align: right;margin: 5px; font-size: 2.5rem;position: fixed;right: 26px;z-index: 1;">
        <ion-icon name="close" item-end (click)="onClosePopup()"></ion-icon>
      </div> -->
      <ion-card-content class="cardCustom">
        <ion-card-title>
          Tab3
        </ion-card-title>
        <hr> 3532523523523
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <a (click)="star1()">
            <ion-icon name="star"></ion-icon> tab</a>
        </ion-col>
        <ion-col text-center>
          <a (click)="star2()">
            <ion-icon name="star"></ion-icon> tab</a>
        </ion-col>
        <ion-col text-center>
          <a (click)="star3()">
            <ion-icon name="star"></ion-icon> tab</a>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-footer>