<ion-header>

  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title> RsuSmart Train</ion-title>

    <ion-buttons end>
      <button ion-button (click)="addDirectionService()">
        <ion-icon name="add"></ion-icon>Show My Pos</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div #map id="map"></div>

  <div class="popup center" *ngIf="tab1">

    <ion-card>

      <ion-card-content class="cardCustom">

        <ion-card-title>

          Tab1

        </ion-card-title>

        <hr> abc

      </ion-card-content>

    </ion-card>

  </div>

  <div class="popup center" *ngIf="tab2">

    <ion-card>

      <ion-card-content class="cardCustom">

        <ion-card-title>

          Direction

        </ion-card-title>

        <hr>
        <ion-list>
          <ion-item>
            <ion-label>Start:</ion-label>
            <ion-select [(ngModel)]="start">
              <ion-option value="latLng">Your Location</ion-option>
              <ion-option value="build1">ตึก 1 อาคารอาทิตย์อุไรรัตน์</ion-option>
              <ion-option value="build2">ตึก 2 อาคารประสิทธิรัตน์</ion-option>
              <ion-option value="build3">ตึก 3 อาคารอุไรรัตน์</ion-option>
              <ion-option value="build4">ตึก 4 อาคารวิทยาศาสตร์การแพทย์</ion-option>
              <ion-option value="build5">ตึก 5 อาคารวิษณุรัตน์</ion-option>
              <ion-option value="build6">ตึก 6 อาคาร Student Center</ion-option>
              <ion-option value="build7">ตึก 7 อาคารหอสมุด</ion-option>
              <ion-option value="build8">ตึก 8 อาคารคุณหญิงพัฒนา</ion-option>
              <ion-option value="build9">ตึก 9 อาคารประสิทธิ์พัฒนา</ion-option>
              <ion-option value="build10">ตึก 10 อาคารคณะรังสีเทคนิค</ion-option>
              <ion-option value="build11">ตึก 11 อาคารรัตนคุณากร</ion-option>
              <ion-option value="build12">ตึก 12 อาคารรังสิตประยูรศักดิ์</ion-option>
              <ion-option value="build13">ตึก 13 สำนักงานอาคารและสิ่งแวดล้อม</ion-option>
              <ion-option value="build14">ตึก 14 อาคารนันทนาการ</ion-option>
              <ion-option value="build15">ตึก 15 อาคารดิจิตอล มัลติมีเดีย</ion-option>
              <ion-option value="build16">ตึก 16 อาคารบริการ</ion-option>
              <ion-option value="build17">ตึก 17 อาคารศาลาดนตรีสุริยเทพ</ion-option>
              <ion-option value="build18">ตึก 18 อาคารศาลากวนอิม</ion-option>
              <ion-option value="build19">ตึก 19 อาคารสถาปัตย์</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item>

            <ion-label>End:</ion-label>
            <ion-select [(ngModel)]="end">
              <ion-option value="yourLoc">Your Location</ion-option>
              <ion-option value="build1">ตึก 1 อาคารอาทิตย์อุไรรัตน์</ion-option>
              <ion-option value="build2">ตึก 2 อาคารประสิทธิรัตน์</ion-option>
              <ion-option value="build3">ตึก 3 อาคารอุไรรัตน์</ion-option>
              <ion-option value="build4">ตึก 4 อาคารวิทยาศาสตร์การแพทย์</ion-option>
              <ion-option value="build5">ตึก 5 อาคารวิษณุรัตน์</ion-option>
              <ion-option value="build6">ตึก 6 อาคาร Student Center</ion-option>
              <ion-option value="build7">ตึก 7 อาคารหอสมุด</ion-option>
              <ion-option value="build8">ตึก 8 อาคารคุณหญิงพัฒนา</ion-option>
              <ion-option value="build9">ตึก 9 อาคารประสิทธิ์พัฒนา</ion-option>
              <ion-option value="build10">ตึก 10 อาคารคณะรังสีเทคนิค</ion-option>
              <ion-option value="build11">ตึก 11 อาคารรัตนคุณากร</ion-option>
              <ion-option value="build12">ตึก 12 อาคารรังสิตประยูรศักดิ์</ion-option>
              <ion-option value="build13">ตึก 13 สำนักงานอาคารและสิ่งแวดล้อม</ion-option>
              <ion-option value="build14">ตึก 14 อาคารนันทนาการ</ion-option>
              <ion-option value="build15">ตึก 15 อาคารดิจิตอล มัลติมีเดีย</ion-option>
              <ion-option value="build16">ตึก 16 อาคารบริการ</ion-option>
              <ion-option value="build17">ตึก 17 อาคารศาลาดนตรีสุริยเทพ</ion-option>
              <ion-option value="build18">ตึก 18 อาคารศาลากวนอิม</ion-option>
              <ion-option value="build19">ตึก 19 อาคารสถาปัตย์</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>

      </ion-card-content>

    </ion-card>

  </div>

  <div class="popup center" *ngIf="tab3">

    <ion-card>

      <!-- <div style="text-align: right;margin: 5px; font-size: 2.5rem;position: fixed;right: 26px;z-index: 1;">

        <ion-icon name="close" item-end (click)="onClosePopup()"></ion-icon>

      </div> -->

      <ion-card-content class="cardCustom">

        <ion-card-title>

          Tab3

        </ion-card-title>

        <hr> 3532523523523

      </ion-card-content>

    </ion-card>

  </div>

</ion-content>

<ion-footer>

  <ion-toolbar>

    <ion-grid>

      <ion-row>

        <ion-col text-center>

          <a (click)="openTrainTab()">

            <ion-icon name="train"></ion-icon>
          </a>
          <br/> Train

        </ion-col>

        <ion-col text-center>

          <a (click)="openLocationTab()">

            <ion-icon name="home"></ion-icon>
          </a>
          <br/> Direction


        </ion-col>

        <ion-col text-center>

          <a (click)="openWeatherTab()">

            <ion-icon name="rainy"></ion-icon>
          </a>
          <br/> Weather

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>

</ion-footer>
